:root {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    color: #102e38;
    --text-primary: #f2b445; /* mustard */
    --text-secondary: #102e38; /* emerald */
    --text-tertiary: #df5e4a; /* coral */
    --bg-primary: #102e38;
  }

body {
    margin: 0;
    font-size: 1.6rem;
    color: var(--text-secondary);
}

button {
    background-color: var(--text-secondary); 
    font-family: inherit;
    border: none;
    color: var(--text-primary); 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.4rem;
  }

button:hover {
    color: var(--text-tertiary);
  }

.big-btn {
    margin: 5rem; 
    font-size: 2rem;
    padding: 1rem 2.8rem;
    display: inline-block;
  }

.body_box {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
}

.content-body {
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: 96rem;
}

.page_header {
    font-size: 6rem;
    font-family: 'Gaegu';
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.section-header {
	font-size: 4rem;
	font-family: "Gaegu";
	text-align: center;
}

.subheading {
    font-size: 3rem;
    color: var(--text-tertiary);
    margin: 2rem
}

.price {
	color: var(--text-tertiary);
	font-weight: bold;
}

.price::before {
	content: "£";
}

/* Spinner Styling: always show arrows */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {  

    opacity: 1;
 
 }

/* Utility */

.text-al-just{
    text-align: justify;
}

.text-al-cntr {
    text-align: center;
}