{% extends 'generalpages/base.html' %}
{% load static %}

{% block title %} Basket - Sticking Together {% endblock %}

{% block extra_head_content %} 
  <link rel="stylesheet" type="text/css" href="{% static 'store/css/cart.css'%}">
{% endblock %}

{% block content %}
<div class="body_box">
    <p class="page_header">Shopping Basket</p>

    {% if items %}
    <p class="content-body text-al-cntr">
        Currently we are only shipping our stickers to <u>United Kingdom</u> and <u>Singapore</u>. You are
        viewing the 
        <strong>{% if location == 'UK' %} UK {% else %} Singapore {% endif %}</strong> 
        store page. To switch select a different one below:
    </p>

    <select id="storeLoc" onchange="locationChange()" style="font-size: 1.8rem; font-family: inherit;">
        {% if location == 'UK' %}
        <option value="UK" selected>United Kingdom</option>
        <option value="SG">Singapore</option>
        {% else %}
        <option value="UK">United Kingdom</option>
        <option value="SG" selected>Singapore</option>
        {% endif %}
    </select>
    
    <div class="align-end">Total</div>
    {% for item, i, tot in items %}
    <div class="product border-top">
        <img class="product-image pad" src="{{ item.image_1.url }}">
        <p id="name{{forloop.counter0}}" class="product-desc">{{item.name}}</p>
        {% if location == 'UK' %}
        <p id="total{{forloop.counter0}}" class="sub-total product-price price">{{tot|floatformat:2}}</p>
        {% else %}
        <p id="total{{forloop.counter0}}" class="sub-total product-price price-sg">{{tot|floatformat:2}}</p>        {% endif %}
        <div class="product-quantity" >

            {% if location == 'UK' %} 
                {% if item.uk_stock == 0 %}
                    <p class="soldout availability">Sold out.</p>
                {% else %}
                    <p class="preorder availability">Preorder now. Shipped by 21/09. {{item.uk_stock}} left.</p>
                {% endif %}
            {% else %} 
                {% if item.singapore_stock == 0 %}
                    <p class="soldout availability">Sold out.</p>
                {% else %}
                    <p class="instock availability">In stock. {{item.singapore_stock}} left.</p>
                {% endif %}
            {% endif %}

            Quantity: 
            {% if location == 'UK' %} 
                <input id="amount{{forloop.counter0}}" class="product-qt-spinner" data-product="{{item.name}}" data-id="{{forloop.counter0}}" data-action="change" type="number" step="1" value="{{i}}" min="1" max="{{item.uk_stock}}">
            {% else %}
                <input id="amount{{forloop.counter0}}" class="product-qt-spinner" data-product="{{item.name}}" data-id="{{forloop.counter0}}" data-action="change" type="number" step="1" value="{{i}}" min="1" max="{{item.singapore_stock}}">
            {% endif %}
            <button class="update-cart medium-btn" data-product="{{item.name}}" data-id="{{forloop.counter0}}" data-action="delete"> Remove </button>
            
            {% if location == 'UK' %}
            <input type="hidden" id="price{{forloop.counter0}}" value="{{item.price}}">
            {% else %}
            <input type="hidden" id="price{{forloop.counter0}}" value="{{item.price_sg}}">
            {% endif %}
        </div>
    </div>
    {% endfor %}

    {% if location == 'UK' %}
    <div class="pad product-shipping border-top">
        <span>Shipping</span>
        <span id="shipID" class="sub-total price">1.00</span>
    </div>

    <div class="pad product-shipping border-top">
        <span>Paypal Fee</span>
        <span id="feeID" class="sub-total price">0.30</span>
    </div>

    <div id="totalID" class="pad align-end price border-top">0</div>
    {% else %}
    <div class="pad product-shipping border-top">
        <span>Shipping</span>
        <span id="shipID" class="sub-total price-sg">1.00</span>
    </div>

    <div class="pad product-shipping border-top">
        <span>Paypal Fee</span>
        <span id="feeID" class="sub-total price-sg">0.50</span>
    </div>

    <div id="totalID" class="pad align-end price-sg border-top">0</div>
    {% endif %}
    
    <div>Checkout with:</div>
    <div id="paypal-button-container"></div>

    <p class="content-body text-al-cntr border-top" style="max-width: 50rem;">
        Checkout process is handled by Paypal so that we don't 
        have to collect or store your sensitive data.
        <br>
        The stickers once ordered will be shipped within 2 days and 
        should be with you in around 5 days. 
    </p>

    <script type="text/javascript" src="{% static 'store/js/cart.js' %}"></script> 
    <script src="https://www.paypal.com/sdk/js?client-id=AeznO-wtAY_hi27DLqs3oA7_r85yQLh59brXe7CNQMxyeaWT2ORiy2F3JETLfKq-w00JoZVl6pbKvyfc&currency={% if location == 'UK' %}GBP{% else %}SGD{% endif %}&disable-funding=credit,card"></script>
    <script type="text/javascript" src="{% static 'store/js/paypalLogic.js' %}"></script>  
    {% else %}
    <p class="section-header">Your basket is empty:(</p>
    {% endif %}

</div>
{% endblock %}