{% extends 'generalpages/base.html' %}
{% load static %}

{% block extra_head_content %} 
  <link rel="stylesheet" type="text/css" href="{% static 'store/css/cart.css'%}">
{% endblock %}

{% block content %}
<div class="body_box">
    <p class="page_header">Shopping Basket</p>
    {% if items %}
    <div class="align-end">Total</div>
    {% for item, i, tot in items %}
    <div class="product border-top">
        <img class="product-image" src="{{ item.image_1.url }}">
        <p class="product-desc">{{item.name}}</p>
        <p id="total{{forloop.counter0}}" class="sub-total product-price price">{{tot|floatformat:2}}</p>
        <p class="product-quantity" >
            Quantity: 
            <input id="amount{{forloop.counter0}}" class="product-qt-spinner" data-product="{{item.name}}" data-id="{{forloop.counter0}}" data-action="change" type="number" step="1" value="{{i}}" min="1" max="20">
            <button class="update-cart" data-product="{{item.name}}" data-id="{{forloop.counter0}}" data-action="delete"> Remove </button>
            <input type="hidden" id="price{{forloop.counter0}}" value="{{item.price}}">
        </p>
    </div>
    {% endfor %}

    <div class="pad product-shipping border-top">
        <span>Shipping</span>
        <span class="sub-total price">2.00</span>
    </div>

    <div id="totalID" class="pad align-end price border-top">0</div>

    {% else %}
    <p class="section-header">Your basket is empty:(</p>
    {% endif %}

</div>
<script type="text/javascript" src="{% static 'store/js/cart.js' %}"></script>   
{% endblock %}