{% extends 'generalpages/base.html' %}
{% load static %}

{% block extra_head_content %} 
  <link rel="stylesheet" type="text/css" href="{% static 'store/css/collections.css'%}">
{% endblock %}

{% block content %}
<div class="shop_grid">
    <p class="page_header">Sticker Collections</p>
    <p class="content-body text-al-cntr">
        Our stickers are made from vinyl with a matt finish. 
        This high-quality material makes them durable and even waterproof. 
        They’re perfect for laptops, water bottles, notebook covers and more! 
    </p>
    <p class="subheading">Stickers for the Lebanese Red Cross</p>
    {% for sticker in stickers %}
    <div class="border-top sticker">
        <div class="sticker-images">
            <img class="sticker-image" src="{{ sticker.image_1.url }}">
        </div>
        <div class="sticker-text">
            <div class="sticker-top">
                <div class="sticker-name-price">
                    <span class="sticker-name">{{sticker.name}}</span>
                    <span class="sticker-price price">{{sticker.price|floatformat:2}}</span>
                </div>
                <p>Dimensions: {{sticker.dimensions}}</p>
                <p>{{sticker.description}}</p>
            </div>
            <div class="sticker-bottom">
                <p>Designed by: {{sticker.artist}}</p>
                <button data-product="{{sticker.name}}" data-action="add" data-id="{{forloop.counter0}}" class="add-btn update-cart medium-btn"> Add to basket </button>
                <input id="amount{{forloop.counter0}}" class="sticker-quantity" type="number" step="1" value="1" min="1" max="20">
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript" src="{% static 'store/js/cart.js' %}"></script>
{% endblock %}