{% extends 'generalpages/base.html' %}
{% load static %}

{% block title %} Store - Sticking Together {% endblock %}

{% block extra_head_content %} 
  <link rel="stylesheet" type="text/css" href="{% static 'store/css/collections.css'%}">
{% endblock %}

{% block content %}
<div class="shop_grid">
    <p class="page_header">Sticker Collections</p>
    <p class="content-body text-al-cntr">
        Our stickers are made from vinyl with a matt finish. 
        This high-quality material makes them durable and even waterproof. 
        They’re perfect for laptops, water bottles, notebook covers and more! 
        For every sticker purchased, <strong>{% if location == 'UK' %} £2.00 {% else %} S$3.50 {% endif %}</strong> will be donated to the Lebanese Red Cross.
    </p>
    <p class="content-body text-al-cntr">
        Currently we are only shipping our stickers to <u>United Kingdom</u> and <u>Singapore</u>. You are
        viewing the 
        <strong>{% if location == 'UK' %} UK {% else %} Singapore {% endif %}</strong> 
        store page. To switch select a different one below:
    </p>

    <select id="storeLoc" onchange="locationChange()" style="font-size: 1.8rem; font-family: inherit;">
        {% if location == 'UK' %}
        <option value="UK" selected>United Kingdom</option>
        <option value="SG">Singapore</option>
        {% else %}
        <option value="UK">United Kingdom</option>
        <option value="SG" selected>Singapore</option>
        {% endif %}
      </select>

    <p class="subheading">Stickers for the Lebanese Red Cross</p>
    {% for sticker in stickers %}
    <div class="border-top sticker">

        <div id="{{sticker.id}}" class="sticker-images slideshow-container">
            
            {% for img in sticker.stickerimage_set.all %}
                <div class="slides{{sticker.id}} fade slides">
                    <img class="sticker-image" src="{{ img.image.url }}">
                </div>
            {% endfor %}
            <a id="pslides{{sticker.id}}" class="prev" onclick="plusSlides(-1, 'slides{{sticker.id}}', 0)">&#10094;</a>
            <a id="nslides{{sticker.id}}" class="next" onclick="plusSlides(1, 'slides{{sticker.id}}', 0)">&#10095;</a>
        </div>

        <div class="sticker-text">
            <div class="sticker-top">
                <div class="sticker-name-price">
                    <span class="sticker-name">{{sticker.name}}</span>
                    {% if location == 'UK' %}
                    <span class="sticker-price price">{{sticker.price|floatformat:2}}</span>
                    {% else %}
                    <span class="sticker-price price-sg">{{sticker.price_sg|floatformat:2}}</span>
                    {% endif %}
                </div>
                <p>Dimensions: {{sticker.dimensions}}</p>
                <p>{{sticker.description}}</p>
            </div>
            <div class="sticker-bottom">
                {% if location == 'UK' %} 
                    {% if sticker.uk_stock == 0 %}
                        <p class="soldout">Sold out.</p>
                        <p>Designed by: {{sticker.artist}}</p>
                    {% else %}
                        <p class="instock">In stock. {% if sticker.uk_stock < 11 %} {{sticker.uk_stock}} left. {% endif %} </p>
                        <p>Designed by: {{sticker.artist}}</p>
                        <button data-product="{{sticker.name}}" data-action="add" data-id="{{forloop.counter0}}" class="add-btn update-cart medium-btn"> Add to basket </button>
                        <span>Qty:</span>
                        <button class="medium-btn sticker-qt-button" data-action="nothing" data-action1="minus" data-id="{{forloop.counter0}}" data-min="1" data-max="{{sticker.uk_stock}}"> <span>-</span> </button> 
                        <span id="newamount{{forloop.counter0}}" class="sticker-qt-field" data-max="{{sticker.uk_stock}}"> 1 </span> 
                        <button class="medium-btn sticker-qt-button" data-action="nothing" data-action1="plus" data-id="{{forloop.counter0}}" data-min="1" data-max="{{sticker.uk_stock}}"> <span>+</span> </button>
                    {% endif %}
                {% else %} 
                    {% if sticker.singapore_stock == 0 %}
                        <p class="soldout">Sold out.</p>
                        <p>Designed by: {{sticker.artist}}</p>
                    {% else %}
                        <p class="instock">In stock.{% if sticker.singapore_stock < 11 %} {{sticker.singapore_stock}} left. {% endif %}</p>
                        <p>Designed by: {{sticker.artist}}</p>
                        <button data-product="{{sticker.name}}" data-action="add" data-id="{{forloop.counter0}}" class="add-btn update-cart medium-btn"> Add to basket </button>
                        <span>Qty:</span>
                        <button class="medium-btn sticker-qt-button" data-action="nothing" data-action1="minus" data-id="{{forloop.counter0}}" data-min="1" data-max="{{sticker.singapore_stock}}"> <span>-</span> </button> 
                        <span id="newamount{{forloop.counter0}}" class="sticker-qt-field" data-max="{{sticker.singapore_stock}}"> 1 </span> 
                        <button class="medium-btn sticker-qt-button" data-action="nothing" data-action1="plus" data-id="{{forloop.counter0}}" data-min="1" data-max="{{sticker.singapore_stock}}"> <span>+</span> </button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript" src="{% static 'store/js/slides.js' %}"></script>
<script type="text/javascript" src="{% static 'store/js/cart.js' %}"></script>
{% endblock %}