{% extends 'generalpages/base.html' %}
{% load static %}

{% block extra_head_content %} 
  <link rel="stylesheet" type="text/css" href="{% static 'store/css/collections.css'%}">
{% endblock %}

{% block content %}
<div class="shop_grid">
    <p class="page_header">Sticker Collections</p>
    <p class="content-body text-al-cntr">
        Our stickers are made from vinyl with a matt finish. 
        This high-quality material makes them durable and even waterproof. 
        They’re perfect for laptops, water bottles, notebook covers and more! 
    </p>
    <p class="subheading">Stickers for the Lebanese Red Cross</p>
    <div class="sticker">
        <div class="sticker-images">
            <img class="sticker-image" src="{% static 'store/images/frankiBeirut.png' %}" width="200">
        </div>
        <div class="sticker-text">
            <div class="sticker-name-price">
                <span class="sticker-name">Beauty of Beirut</span>
                <span class="sticker-price">£2.50</span>
            </div>
            <p>Mohammad Al-Amin Mosque or the ‘Blue Mosque’ is one of the beautiful and iconic buildings of Beirut.
            </p>
            <p>Designed by: Francesca Lim</p>
            <button> Add to cart </button>
            <input class="sticker-quantity" type="number" step="1" value="1" min="1" max="20" onkeydown="return false">
        </div>
    </div>
</div>    
{% endblock %}