.shop_grid {
    display: grid;
    justify-items: center;
}

.sticker {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 70rem;
}

.sticker-images {
    justify-self: center;
}

.sticker-image {
    margin: 0 2rem 0 0;
}

.sticker-name {
    font-size: 2.4rem;
}

.sticker-price {
    font-size: 2.4rem;
}

.sticker-quantity {
    width: 3.2rem;
}