.shop_grid {
    display: grid;
    justify-items: center;
}

.sticker {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 70rem;
    padding: 2rem 0 2rem 0;
}

.sticker-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 0.5rem;
}

.sticker-text p {
    width: 40rem;
    margin: 0.3rem 0 0.1rem 0
}

.sticker-name-price {
    display: flex; 
    justify-content: space-between;
}

.sticker-images {
    justify-self: center;
}

.sticker-image {
    margin: 0;
    width: 20rem;
}

.sticker-name {
    font-size: 2.4rem;
}

.sticker-price {
    font-size: 2.4rem;
}

.sticker-quantity {
    width: 3.2rem;
}