{% extends 'generalpages/base.html' %}
{% load static %}

{% block title %} About - Sticking Together {% endblock %}

{% block content %}
<p class="page_header"> About Us</p>
<div class="body_box">
    <p class = "content-body text-al-just">
        Sticking Together is a non-profit fundraising effort started by two pals who just wanted to spread love and give back to the world through a shared obsession with stickers! 
    <br>
    <br>
        Our stickers are designed by a variety of artists (both professional and aspiring) for a specific cause. To support the cause, simple purchase stickers from its collection. All profits from the sale of stickers are donated to the organisation stipulated on our website. Not only that, by sharing our stickers with friends and family you’ll be helping to raise awareness and spread the word! 
    <br>
    <br>
        For fundraising efforts, we believe transparency is essential! So here are a few things we think you should know:
    <br>
        <ul class="content-body text-al-just">
            <li>We are not a registered charitable organisation</li>
            <li>This is a fundraising website to help make the experience of purchasing and logistics of selling these stickers as straightforward as possible</li>
            <li>For each sticker, we will list the cost of manufacturing and the amount that will be donated from the sale </li>
            <li>Donations will be made after we conclude the fundraising period stipulated on the Charities page (if you have purchased stickers, you will receive an email once the donation has been made)</li>
            <li>As founders of and / or designers for Sticking Together, we are donating our time and energy. We do not profit from this apart from the joy that it brings us!</li>
        </ul>
    </p>
    <p class="content-body text-al-just">
        While we hope this effort might one day scale to support more causes in a bigger way, we decided to start small with this proof of concept. If you like this idea, have suggestions or want to be more involved, <a class="link" href="{% url 'contacts' %}">reach out to us</a>. We’d love to hear from you. 
    <br>
    <br>
        Thank you for sticking together for a happier world!  
    <br>
    <br>
        P.S. This would not have been possible without the help of some special pals who built and manage this website for us or who carefully package and post your orders. We love you!
    </p>
</div>
{% endblock %}