{% extends 'generalpages/base.html' %}
{% load static %}

{% block title %} Artists - Sticking Together {% endblock %}

{% block content %}
<p class="page_header"> Artists </p>
<div class="body_box">
    <article class = "content-body">
        <p class="text-al-cntr">
            Our stickers are designed by a variety of artists 
            (some professional, some aspiring) all wanting to 
            stick together for a good cause! We are incredibly 
            grateful to them for supporting us and would love 
            to share more of their work. If you like their stuff, 
            check em’ out, give em’ a like, support em’... 
            you know what to do! 
        </p>

        <p class="subheading" style="margin-left: 0; margin-top: 4rem;">Philip Hemnell</p>
        <p>
            As a Eurasian artist with a wonderfully diverse background, Philip Hemnell draws on his mixed Chinese and English heritage to create a style that melds the best of East and West. 
            <br>
            <br>
            He uses digital and analog techniques, combining screen-printing, etching and spray painting (just to name a few). 
            <br>
            <br>
            With his artwork in personal and corporate collections around the world in major cities such as Los Angeles, New York, Hong Kong and Singapore, we are delighted that we can feature one of his signature designs, the Rice Cooker, to this cause. 
            <br>
            <br>
            Check him out on <a target="blank" class="link" href="https://www.instagram.com/artisticphilip/">Instagram </a> 

        </p>

        <p class="subheading" style="margin-left: 0; margin-top: 4rem;">Jing Yi</p>
        <p>
            Jing Yi is a Singaporean illustrator and entrepreneur. Her business, <a href="https://www.instagram.com/pinesnprints/" class="link" target="blank">Pines n Prints</a>, has the most adorable collection of stickers, diaries, socks and more! She has worked with the global brand Uniqlo to create designs for their t-shirts. 
            <br>
            <br>
            Her distinctive style of illustrations features smiley mountains, dogs, cats and sushi friends that never fail to put a smile on your face. 
            <br>
            <br>
            Featuring the Blue Mosque of Beirut, Pines n Prints has kindly collaborated with us to produce the sticker “Bandage for Beirut”!
        </p>
    </article>
</div>
{% endblock %}