{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        
        <title>{% block title %} {% endblock %}</title>
        
        <link rel="shortcut icon" type='image/x-icon' href="{% static 'generalpages/images/favicon.ico' %}"/>
        <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        
        <script src="https://kit.fontawesome.com/6d3535b950.js" crossorigin="anonymous"></script>

        {% block extra_head_content %} {% endblock %}
        <style>
            @import url("{% static 'generalpages/css/main.css' %}");
            @import url("{% static 'generalpages/css/navbar.css' %}");
        </style>
    
        <script type="text/javascript" src="{% static 'generalpages/js/createCookies.js' %}"></script>
    </head>
    <body>
        <div class="navbar-grid">
            <a class="center" id="logo-link" href="{% url 'home'%}"><img id="logo" src="{% static '/generalpages/images/logo.png' %}"></a>
            <a class="basket-icon" href="{% url 'cart' %}"><i class="fas fa-shopping-basket"><span id="bsk-count" class="item-counter">0</span></i></a>
            <header class="website-header">Sticking Together</header>
            <a href="javascript:void(0)" class="hamburger" onclick="toggleNav()">
                <i id="hamburger-icon" class="fas fa-bars"></i>
            </a>
            <nav id="myLinks" class="navbar hr">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">
                        <span class="link-text">Home</span>
                    </a></li>
                    <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">
                        <span class="link-text">About</span>
                    </a></li>
                    <li class="nav-item"><a href="{% url 'causes' %}" class="nav-link">
                        <span class="link-text">Causes</span>
                    </a></li>
                    <li class="nav-item"><a href="{% url 'stickers' %}" class="nav-link">
                        <span class="link-text">Stickers</span>
                    </a></li>
                    <li class="nav-item"><a href="{% url 'artists' %}" class="nav-link">
                        <span class="link-text">Artists</span>
                    </a></li>
                    <li class="nav-item"><a href="{% url 'contacts' %}" class="nav-link">
                        <span class="link-text">Contact Us</span>
                    </a></li>
                </ul>
            </nav> 
        </div>
            {% block content %} {% endblock %}

            <script type="text/javascript" src="{% static 'generalpages/js/updateCartCounter.js' %}"></script>
            <script type="text/javascript" src="{% static 'generalpages/js/toggleNav.js' %}"></script>
    </body>
</html>

