{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        
        {% block title %} {% endblock %}
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500&display=swap" rel="stylesheet">
        
        {% block extra_head_content %} {% endblock %}
    </head>
    <body>
        <div class="header">
            <img class="center" id="logo" src="{% static '/images/logo.png' %}">
            <h1 >Sticking Together</h1>
            <!-- <hr class="headsep"> -->
            <nav class="navbar hr">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">
                        <span class="link-text">Home</span>
                    </a></li>
                    <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">
                        <span class="link-text">About</span>
                    </a></li>
                    <li class="nav-item"><a href="{% url 'causes' %}" class="nav-link">
                        <span class="link-text">Causes</span>
                    </a></li>
                    <li class="nav-item"><a href="{% url 'stickers' %}" class="nav-link">
                        <span class="link-text">Stickers</span>
                    </a></li>
                    <li class="nav-item"><a href="{% url 'artists' %}" class="nav-link">
                        <span class="link-text">Artists</span>
                    </a></li>
                    <li class="nav-item"><a href="{% url 'contacts' %}" class="nav-link">
                        <span class="link-text">Contacts</span>
                    </a></li>
                </ul>
            </nav> 
        </div>

        {% block content %} {% endblock %}

    </body>
</html>

