{% extends 'generalpages/base.html' %}
{% load static %}

{% block title %} Causes - Sticking Together {% endblock %}

{% block extra_head_content %} 
  <link rel="stylesheet" type="text/css" href="{% static 'generalpages/css/causes.css'%}">
{% endblock %}

{% block content %}
    <p class="page_header"> Who we are sticking together for </p>
    <div class="body_box">
        <div class="causes_container">
            <p class="subheading text-al-cntr causes-title"> Beirut Explosion Victims</p>
            <p class="causes_description text-al-just"> 
                On the 4th of August 2020, a warehouse storing ammonium nitrate exploded at the port of Beirut, Lebanon’s capital. 
                The explosion caused horrific damage, killing at least 190 people and injuring over 6,500. On top of that, damage to the city’s infrastructure was immense. 
                Roughly 300,000 people were left homeless. 
                <br>
                <br>
                During this time the Lebanese Red Cross has been providing medical care to victims of the explosion. 
                While they are an essential part of Beirut’s recovery, they rely heavily on volunteers and donations to serve society. 
                As such, we are setting our goal to raise £1000 for the Lebanese Red Cross through the sale of our stickers.
                First round of donations will be made on 10th of October. 
                <br>
                <br>
                Take a look at the sticker collection to help support this fundraiser. 
            </p>
            <div class="causes_button">
                <a href="{% url 'stickers' %}"><button class="big-btn"> View Stickers </button></a>
            </div> 
            <div class="causes_image">
                <img src="{% static 'generalpages/images/explosion.jpg' %}" alt="Beirut Explosion">
            </div>
        </div>
    </div>
{% endblock %}